<section class="top py-16">
  <div class="container justify-between mx-auto ">
    <div class="row">
      <div class="col-md-6 py-8  order-md-0 order-1 flex justify-content-center  flex-column">
        <h4 class="text-lg font-bold"><em> Are You Hungry ?</em></h4>
        <h1 class=" font-bold">Don't Wait !</h1>
        <button class="py-2 px-6 mt-4 font-bold rounded-full text-white btn-order">Order Now</button>
      </div>       
        <div class=" col-md-6 order-md-1 order-0 items-center">
          <img id="pizza-pic" src="img/hero-pizza.png" alt="About us image" class="img-fluid ml-3" />     
      </div>
    </div>
  </div>
</section>

<!-- section Menu -->

<section id="Menu"class="Menu container mx-auto py-8 mt-2 ">
  <h1 class="text-xl font-bold">All Pizzas</h1>

  <div class="row row-cols-1 row-cols-md-3 my-5 m-auto">
    
      <% pizzas.forEach(function(pizza){ %>
        <div class="col py-8">
        <div class="card">
          <img
            src="img/<%= pizza.image%>"
            class="card-img-top"
            alt="pizza image"
          />
          <div class="card-body">
            <div class="text-center">
            <h4 class="card-title mb-4"><%= pizza.name%></h4>
            <span class="py-1 px-4 rounded-full text-s bg-light"><%= pizza.size%></span>
          </div>
          <div class="card-text flex items-center justify-around mt-6">
            <span class="font-bold text-lg mr-4">Rs.<%= pizza.price%></span>
            <button data-pizza="<%= JSON.stringify(pizza)%>" class=" add-cart py-1 px-6 rounded-full flex items-center font-bold">
            <span>+</span>
            <span class="ml-2">Add</span>
            </button>
          </div>
          </div>
        </div>
        </div>
   <% }) %>
     
  </div>
  

</section>

<section class=" map mt-5 mb-4">
  <div>
    <h3 class="ml-4 text-secondary">Location</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3340.3708354937476!2d73.73216159641743!3d33.15189001742597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1609865873096!5m2!1sen!2s" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</section>
