<% if(session.cart) { %>
<section class="Cart py-12">
  <div class="container flex items-center pt-2">
    <img src="/img/cart-black.png" alt="cart image">
    <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
  </div>
<div class="order container mx-auto ">
<table class="table">
  <thead class="thead">
    <tr>
      
      <th scope="col">Pizza</th>
      <th scope="col">Size</th>
      <th scope="col">Prize</th>
    </tr>
  </thead>
  <% for(let pizza of Object.values(session.cart.items)){ %>
  <tbody>
    <tr>
      <td> <img class="w-24 mx-auto" src="/img/<%= pizza.item.image %>" alt="pizza image"></td>
      <td><h1 class="text-lg font-bold"><%= pizza.item.name%></h1>
        <span class="font-bold"><%= pizza.item.size%></span></td>
      <td class="font-bold prize text-lg">
        <span class="text-sm">(<%= pizza.qty%>Pcs)
      </span>Rs.<%=pizza.item.price * pizza.qty%></td>
    </tr>
  </tbody>
  <% } %>
</table>
</div>
  <hr>
<div class="container text-right py-2">
  <div class="container">
    <span class="text-lg font-bold">Total Amount:</span>
    <span class="amount text-2xl font-bold ml-2">Rs.<%= session.cart.totalPrice%></span>
  </div>
  <% if(user){ %>
  <div class="mt-8">
  <form action="/Orders" method="POST">
  <input  class="border border-gray-400 p-2 " type="number" name="phone" placeholder="Phone Number">
  <input  class="border border-gray-400 p-2  mt-3" type="text" name="address" placeholder="Your Address">
  <div>
    <button class="px-6 py-2  mt-4 rounded-full text-white font-bold btn-order" type="submit">Order Now</button>
  </div>
  <% }else { %>
    <a class="inline-block cursor-pointer px-6 py-2 text-white font-bold rounded-full mt-4 btn-login" href="/login">Login to Continue</a> 
   <% }%>
  </form>
  </div>
</section> 
<% } else { %>

<section class="E-cart py-16 mt-2">
  <div class="container mx-auto text-center">
    <h1 class="text-3xl front-bold mb-2">Cart Empty 😊</h1>
    <p class="text-gray-500 text-lg">
      You Probably haven't Ordered any Pizza yet. To Order a pizza<br>Please go to the
      main page.
    </p>
    <img class="w-2/4 mx-auto mt-12" src="/img/empty-cart.png" alt="cart image">
 <button class="px-6 mt-4 py-2 rounded-full font-bold btn-back"><a class="text-white" href="/">Go Back</a></button>
</div>
</section>
<% } %>
